<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842839028402-3ag74h3roj55io1jrojk6utsd1ch1un6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842839028402-3ag74h3roj55io1jrojk6utsd1ch1un6</string>
	<key>API_KEY</key>
	<string>AIzaSyDA0f6X75DLO_N3fAA7Prjl-DM73nDtHBs</string>
	<key>GCM_SENDER_ID</key>
	<string>842839028402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thalytasouza.frases-do-dia</string>
	<key>PROJECT_ID</key>
	<string>frases-do-dia-app</string>
	<key>STORAGE_BUCKET</key>
	<string>frases-do-dia-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842839028402:ios:4906af29889ff40e310fab</string>
</dict>
</plist>